<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuzhupc.Sourcing"
    android:versionCode="121218"
    android:versionName="0.8.1218" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />    
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="wuzhupc.com test"
        android:targetPackage="com.wuzhupc.Sourcing" />

    <application
        android:name="com.wuzhupc.config.ApplicationSet"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.WuzhuLight" >
        <activity
            android:name=".WelcomeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLightFullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" 
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".detail.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.FavInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.ViewImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.UserChangePwdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.UserInfoListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.NewConsultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>
        <activity
            android:name=".detail.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WuzhuLight" >
        </activity>

        

        <service android:name="com.wuzhupc.push.PushService"  android:exported="false">
            <intent-filter>
                <action android:name="com.wuzhu.push.pushservice" android:exported="false" />
            </intent-filter>
        </service>

        <receiver android:name="com.wuzhupc.push.PushReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.wuzhu.push.pushreceiver"  android:exported="false"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.wuzhupc.push.PushBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>